<h1>Our Products</h1>

<% if admin_signed_in? %>
  <%= link_to "Add New Product", new_product_path, class: "btn" %>
<% end %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
    </li>
  <% end %>
</ul>
